{% extends 'base.html' %} {% import 'macros.html' as macro %} {% block content
%}
<section class="section">
  <h3 class="section-title">Popular Movies</h3>
  <div class="movie-list">{{macro.displayMovieList(popular)}}</div>
</section>
<section class="section">
  <h3 class="section-title">Upcoming Movies</h3>
  <div class="movie-list">{{macro.displayMovieList(upcoming)}}</div>
</section>
<section class="section">
  <h3 class="section-title">Now Showing</h3>
  <div class="movie-list">{{macro.displayMovieList(now_showing)}}</div>
</section>

{% endblock %}
